/* Container for movie scrolling */
.movie-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.scroll-arrow:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.movie-container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.movie-item {
  flex-shrink: 0;
  width: 150px;
  text-align: center;
  scroll-snap-align: start;
  border-radius: 10px;
  overflow: hidden;
}

.movie-poster {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.movie-title {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.section-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin: 20px 0;
}

.genre-search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  overflow: hidden;
}

.genre-scroll-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  gap: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.genre-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.genre-button {
  background-color: #4a3dbd;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.genre-button:hover,
.genre-button:active {
  background-color: #6f5df5;
}

.search-bar-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 300px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: white;
  flex: 1;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1rem;
  color: black;
  background-color: white;
  width: 100%;
  margin-left: 8px;
}

.search-icon {
  color: #4a3dbd;
}

.welcome-text {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 20px; /* Space between text and buttons */
}
